html {
  font-size: 62.5%;
}

.badge{
padding: 0.2em 1.2em;
background-color: blueviolet;  
font-size: 1.4rem;
line-height: 2.0rem;
height: 2.4rem;
display: inline-flex;
align-items: center;
}
.square{
border-radius: 0.4rem;
}
.pill{
border-radius: 1.2rem;
}

.banner{
  border-radius: 0.6rem;
  padding: 1.6em;
  width: 100%;
  max-width: 89.6rem;
  box-sizing: border-box; 
  /* Kenton remember border box makes it so the padding doesnt blow past the max width. */
}

.banner-header{
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.banner-icon{
  display: flex;
}

.card{
  width: 100%;
  max-width: 38.4rem;
  border-radius: 0.8rem;
  background-color: #F9FAFB;
  padding: 0 2.4em 3.2em 2.4em;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.icon{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.0rem;
}
.card:hover{
  cursor: pointer;
}

.banner, .badge, .card{
  margin: 2rem 0 0 0;
}
.card-title{
 margin: 3rem 0 0 0;
}