html {
  font-size: 62.5%;
}

.badge{
padding: 0.2em 1.2em;
background-color: blueviolet;  
font-size: 1.4rem;
line-height: 2.0rem;
height: 2.4rem;
display: inline-flex;
align-items: center;
}
.square{
border-radius: 0.4rem;
}
.pill{
border-radius: 1.2rem;
}